<mat-vertical-stepper #stepper>
  <mat-step label="Upload Midi File">
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()" accept="audio/mid,audio/midi">Choose File</button>
      <input hidden (change)="onFileSelected($event.target.files)" #fileInput type="file" id="file">
    </div>
    <mat-progress-bar [value]="progress" (animationEnd)="stepper.next()"></mat-progress-bar>
  </mat-step>
  <mat-step label="Choose Tracks">
    <mat-form-field appearance="outline">
      <mat-label>BeatBuddy Drumkit</mat-label>
      <mat-select [(ngModel)]="model.chosenKit" (ngModelChange)="setKitOnTracks()">
        <mat-option *ngFor="let kit of kits | keyvalue" [value]="kit.key">{{kit.key}}</mat-option>
      </mat-select>
      </mat-form-field>
      <table mat-table *ngIf="midiFileAnalysis" [dataSource]="model.tracks" class="mat-elevation-z8" multiTemplateDataRows>

        <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td (click)="expandedTrack = (expandedTrack === track) ? null : track" mat-cell *matCellDef="let track"> {{track.name ? track.name : '-- None --' }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Channel">
          <th mat-header-cell *matHeaderCellDef> Channel </th>
          <td mat-cell *matCellDef="let track"> {{track.channel}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Instrument">
          <th mat-header-cell *matHeaderCellDef> Instrument </th>
          <td mat-cell *matCellDef="let track"> {{track.instrumentName }} </td>
        </ng-container>


        <ng-container matColumnDef="InstrumentFamily">
          <th mat-header-cell *matHeaderCellDef> Instrument Family </th>
          <td mat-cell *matCellDef="let track"> {{track.instrumentFamily }} </td>
        </ng-container>

        <ng-container matColumnDef="KitInstrument">
          <th mat-header-cell *matHeaderCellDef> Kit Instrument </th>
          <td mat-cell *matCellDef="let track">
            <mat-select [(ngModel)]="track.kitInstrumentName">
              <mat-option *ngFor="let kitInstrument of track.chosenKitInstruments | keyvalue" [value]="kitInstrument.key">{{kitInstrument.value}}</mat-option>
              <mat-option value="ignore">-- Ignore --</mat-option>
              <mat-option value="remove">-- Remove --</mat-option>
            </mat-select>
            <mat-hint *ngIf="track.kitInstrumentName == 'ignore'">Track will be present in the output file</mat-hint>
            <mat-hint *ngIf="track.kitInstrumentName == 'remove'">Track will not be present in the output file</mat-hint>
          </td>
        </ng-container>

        <ng-container matColumnDef="Notes">
          <td mat-cell *matCellDef="let track" [attr.colspan]="displayedColumns.length">
            <mat-grid-list *ngIf="expandedTrack === track" cols="3" rowHeight="3:1">
              <mat-grid-tile *ngFor="let trackNote of track.noteMap">
                <mat-form-field appearance="outline">
                  <mat-label>{{ trackNote }}</mat-label>
                  <mat-select [(ngModel)]="track.noteMap[trackNote]">
                    <mat-option *ngFor="let note of kitNoteForKit(track.kitInstrumentName) | keyvalue" value="note.key">{{note.value}}</mat-option>
                    <mat-option value="ignore">-- Ignore --</mat-option>
                    <mat-option value="remove">-- Remove --</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="track === row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Notes']" class="darken example-detail-row"></tr>
      </table>
</mat-step>
  <mat-step label="Select Options">
    <table matTable>
      <tr>
      </tr>
    </table>
  </mat-step>
  <mat-step label="Export">
    <table matTable>
      <tr>
        <td>p[</td>
      </tr>
    </table>
  </mat-step>
</mat-vertical-stepper>
